src/practice/baskets
src/practice/lunch_boxes
src/practice/lunch_boxes_2
src/practice/lunch_boxes_3
src/practice/pattern/number/increasing_triangle_alternate_number
src/practice/pattern/number/decreasing_triangle_number
src/practice/pattern/number/decreasing_triangle_column_number
src/practice/pattern/number/hill_column_number
src/practice/pattern/number/increasing_number_diamond
src/practice/pattern/number/increasing_decreasing_diamond
src/practice/pattern/number/alternate_number_diamond
src/practice/pattern/star/rectangle
src/practice/rev_array
src/practice/row_col_sum
src/practice/split
src/practice/multiple_random_numbers
src/practice/string_to_integer

src/com/object_passing
src/com/inheritance_multiple

out/production/untitled104/practice/baskets
out/production/untitled104/practice/lunch_boxes
out/production/untitled104/practice/lunch_boxes_2
out/production/untitled104/practice/lunch_boxes_3
out/production/untitled104/practice/pattern/number/increasing_triangle_alternate_number
out/production/untitled104/practice/pattern/number/decreasing_triangle_number
out/production/untitled104/practice/pattern/number/decreasing_triangle_column_number
out/production/untitled104/practice/pattern/number/hill_column_number
out/production/untitled104/practice/pattern/number/increasing_number_diamond
out/production/untitled104/practice/pattern/number/increasing_decreasing_diamond
out/production/untitled104/practice/pattern/number/alternate_number_diamond
out/production/untitled104/practice/pattern/star/rectangle
out/production/untitled104/practice/rev_array
out/production/untitled104/practice/row_col_sum
out/production/untitled104/practice/split
out/production/untitled104/practice/multiple_random_numbers
out/production/untitled104/practice/string_to_integer

out/production/untitled104/com/object_passing
out/production/untitled104/com/inheritance_multiple