src/practice/baskets
src/practice/lunch_boxes
src/practice/lunch_boxes_2
src/practice/lunch_boxes_3
src/practice/pattern
src/practice/rev_array
src/practice/rev_array_temp
src/practice/row_col_sum
src/practice/same_elements
src/practice/split
src/practice/check_same_element_array
src/practice/multiple_random_numbers
src/practice/sum_product_digits_in_number
src/practice/first_repeated_character
src/practice/substring_present
src/practice/string_to_integer
src/practice/remove_white_spaces

src/com/object_passing
src/com/inheritance_multiple

out/production/untitled104/practice/baskets
out/production/untitled104/practice/lunch_boxes
out/production/untitled104/practice/lunch_boxes_2
out/production/untitled104/practice/lunch_boxes_3
out/production/untitled104/practice/pattern
out/production/untitled104/practice/rev_array
out/production/untitled104/practice/rev_array_temp
out/production/untitled104/practice/row_col_sum
out/production/untitled104/practice/same_elements
out/production/untitled104/practice/split
out/production/untitled104/practice/check_same_element_array
out/production/untitled104/practice/multiple_random_numbers
out/production/untitled104/practice/sum_product_digits_in_number
out/production/untitled104/practice/first_repeated_character
out/production/untitled104/practice/substring_present
out/production/untitled104/practice/string_to_integer
out/production/untitled104/practice/remove_white_spaces

out/production/untitled104/com/object_passing
out/production/untitled104/com/inheritance_multiple