src/hackerrank/int_to_string/*
src/hackerrank/currency_formatter/*
src/hackerrank/date_and_time/*
src/hackerrank/tag_content_extractor/*

out/production/untitled104/hackerrank/int_to_string/*
out/production/untitled104/hackerrank/currency_formatter/*
out/production/untitled104/hackerrank/date_and_time/*
out/production/untitled104/hackerrank/read_line/*
out/production/untitled104/hackerrank/tag_content_extractor/*

src/hackathon/*
out/production/untitled104/hackathon/*
